[submodule "Sonar/libs/artemisx"]
	path = Sonar/libs/artemisx
	url = git@github.com:desktop/artemisx.git
[submodule "Sonar/libs/heaps"]
	path = Sonar/libs/heaps
	url = https://github.com/ncannasse/heaps.git
[submodule "Sonar/libs/format"]
	path = Sonar/libs/format
	url = https://github.com/HaxeFoundation/format.git
[submodule "Sonar/libs/gml"]
	path = Sonar/libs/gml
	url = https://github.com/davidyu/gml.git
