[submodule "Sonar/libs/artemisx"]
	path = Sonar/libs/artemisx
	url = git@github.com:desktop/artemisx.git
[submodule "Gibbs/Garty/libs/artemisx"]
	path = Gibbs/Garty/libs/artemisx
	url = git@github.com:desktop/artemisx.git
