# ctags files
tags

# swfs
GIBBS_Parser/bin/*.swf
GIBBS_Engine/bin/*.swf
bin/*.swf

# misc
.DS_Store

# latex intermediates
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
