[submodule "Sonar/libs/artemisx"]
	path = Sonar/libs/artemisx
	url = git@github.com:desktop/artemisx.git
[submodule "Sonar/libs/heaps"]
	path = Sonar/libs/heaps
	url = https://github.com/ncannasse/heaps.git
